.inline-div {
	display:inline-block;
	padding: 10px;
}

#main {
	padding: 20px;
}
.plot {
	width: 400px;
	height: 250px;
	display: inline-block;
	margin: 10px;
}
body, h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,dl,dd,ol,ul,figure{
    margin:0;
    padding:0
}
body{
    font-family:Helvetica,Arial,sans-serif;
    font-size:16px;
    line-height:1.5;
    font-weight:300;
    color:#111;
    background-color:#fdfdfd;
    -webkit-text-size-adjust:100%
}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,ul,ol,dl,figure,.highlight{
    margin-bottom:15px
}

 